<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Weitgh:</strong>
    <%= student.weitgh %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= student.height %>
  </p>

  <p>
    <strong>Imc number:</strong>
    <%= student.imc_number %>
  </p>

  <p>
    <strong>Imc classification:</strong>
    <%= student.imc_classification %>
  </p>

</div>
